
/***************************** Body *********************************/

body {
	background-image: url("/assets/img/computer-bg.jpg");
	font-family: 'futura-pt', sans-serif;
    color: black;
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden; 
} 


/**************************** General *********************************/

img {
	height: 50px;
	width: 250px
}

container {
	padding:  0 16px;
	background: white;
}

/*#intro {
	 background-image: url("/assets/img/computer-bg.jpg");
	background-size: cover;
	background-repeat: no-repeat; */
}
/************************ Cloudunit icon ******************************/

.nav_brand {
	float:left;
	padding:12.5px 15px;
	padding-left: 5px;
	font-size:5px;
	line-height:5px;
	height:5px
}

/************************ First Section ****************************/ 

.box_container {
	background-color: #f2f6f7;
	border: 1px solid #a6a6a6;
	display: inline-block;
	margin-bottom: 25px; 
	margin-left: 20px;
	margin-top: 100px;
	position: relative;
    max-width: 400px;
	padding-top: 2rem;
	padding: 0;
}

/* .box .intro .box_container {
	
	
} */

.sub_heading {
	font-weight: 200;
}

.box .box_heading .heading {
		
	background-color: blue;
    color: white;
    display: inline-block;
    position: absolute;
    top: -36px;
    left: 4px;
}

.box .intro	.box_content {

	margin-top:  2rem;
	max-width: : 36px;
}


/**************************  Second Section ****************************/

.box_container_two {
	background-color: cyan;
	border: 1px solid: black;
	display: inline-block;
	margin-bottom: 50px;
	margin-left: 20px;
	margin-top: 100px;
	position: relative;
	max-width: 400px;
	padding-top: 2rem;
	padding: 0; 
}